# Root
node_modules/
.env
.DS_Store

# Ads2Go-Client
Ads2Go-Client/node_modules/
Ads2Go-Client/.env
Ads2Go-Client/build/

# Ads2Go-Server
Ads2Go-Server/node_modules/
Ads2Go-Server/.env

# React Native
Ads2Go-MobileApp/node_modules/
Ads2Go-MobileApp/.expo/
Ads2Go-MobileApp/.expo-shared/
Ads2Go-MobileApp/android/
Ads2Go-MobileApp/ios/
Ads2Go-MobileApp/.env
Ads2Go-MobileApp/*.jks
Ads2Go-MobileApp/*.p8
Ads2Go-MobileApp/*.p12
Ads2Go-MobileApp/*.key
Ads2Go-MobileApp/*.mobileprovision
Ads2Go-MobileApp/*.orig.*
Ads2Go-MobileApp/web-build/
Ads2Go-MobileApp/.gradle/
Ads2Go-MobileApp/android/app/build/
Ads2Go-MobileApp/android/app/debug/
Ads2Go-MobileApp/android/app/release/
